{% extends 'base.html' %}
{% block content %}
<div class="page-header"><h1>Dashboard</h1></div>
<div class="row">
    <div class="span4">
        <h2>Recently finished</h2>
        <ul>
        {% for d in finished %}
            <li>{{ d.url }}</li>
        {% else %}
            <li>No items downloaded</li>
        {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <h2>Recently scheduled</h2>
        <ul>
        {% for d in queued %}
        <li>{{ d.filename() }} by {{ d.created_by.name }}</li>
        {% else %}
            <li>No items scheduled</li>
        {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <h2>Next to be downloaded</h2>
        <ul>
        {% for d in next %}
            <li>{{ d.filename() }} from {{ d.source() }}</li>
        {% else %}
            <li>No items scheduled</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
