{% extends 'base.html' %}
{% block content %}
<div class="page-header">Users</div>
<div class="row">
    <div class="span8">
        <table class="table table-bordered">
            <thead>
                <tr><th>User</th><th>Created</th><th>Downloads</th></tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ u.name }}</td>
                    <td>{{ u.created_at }}</td>
                    <td>{{ u.downloads.all()|count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span3 well">
        <h2>Actions</h2>
        <ul>
            <li><a href="/users/add">Add user</a></li>
        </ul>
    </div>
</div>
{% endblock %}
